.careers {
  min-height: 70vh;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $white-color;
  background-color: $black-color;

  &__text {
    width: 50%;

    &-main {
      font-size: 3rem;
      margin-bottom: 3rem;
    }

    &-sub {
      font-size: 1.5rem;
    }
  }

  &__image {
    width: 25rem;
    height: 25rem;
    background-image: url(../../images/img-10.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

// ethics

.ethics {
  margin-bottom: 1rem;

  &__heading {
    font-size: 2rem;
  }

  &__sub {
    margin-top: 1rem;
  }

  &__photos {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    overflow-x: auto;
    margin-left: -5rem;
    margin-right: -5rem;

    &::-webkit-scrollbar {
      display: none;
    }

    &-image001,
    &-image002 {
      min-width: 27rem;
      height: 17rem;

      &--img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.5s;
        display: block;
      }
    }

    &-arrows {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 5rem;
      margin-top: 2rem;

      span {
        display: inline-block;
        transition: all 0.3s ease-out;

        &:hover {
          cursor: pointer;
          transform: translateX(0.5rem);
        }
      }

      img {
        width: 2rem;
      }

      &--right {
        transform: rotate(180deg);
      }
    }
  }
}

// OPEN POSITIONS
.open-position {
  background: $white-color;
  &__heading {
    margin-bottom: 4rem;
  }

  &__vacancy {
    &-00,
    &-01 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 3rem;

      p:nth-child(1) {
        font-size: 1.3rem;
        font-weight: bold;
        font-family: "Poppins", sans-serif;
        letter-spacing: 0.05rem;
        padding-bottom: 0.5rem;
      }

      p:nth-child(2) {
        font-size: 0.9rem;
        letter-spacing: 0.05rem;
        padding-bottom: 0.5rem;
        opacity: 0.65;
      }

      &--apply {
        background: transparent;
        border: 3px solid rgba($light-green, 0.5);
        border-radius: 50rem;
        color: $light-green;
        font-weight: bold;
        transition: all 0.3s ease-in-out;

        &:hover {
          font-weight: bold;
          transform: scale(1.03);
          border: 3px solid $light-green;
        }
      }
    }
  }
}
