.company {
  min-height: 70vh;
  position: relative;
  background-image: url(../../images/office.jpg);
  background-color: rgba($dark-color, 0.8);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: bottom center;

  &-text {
    color: $white-color;
    margin-top: 2rem;
    width: 45%;
    padding: 5rem;
    font-weight: bold;

    @include respond(tab-land) {
      width: 60%;
    }

    @include respond(phone) {
      width: 100%;
    }

    &__heading {
      margin-bottom: 1rem;
      font-size: 2rem;
    }

    &__sub {
      font-size: 1.3rem;
    }
  }

  &__about {
    text-align: center;
    background-color: $primary-color;

    &-name {
      margin-bottom: 2rem;
    }

    &-info {
      width: 80%;
      margin: auto;

      @include respond(tab-land) {
        width: 90%;
      }

      @include respond(phone) {
        width: 100%;
      }

      & > * {
        margin-bottom: 1.5rem;
        line-height: 2rem;
      }
    }
  }
}

//   Leaders

.leaders {
  position: relative;

  &-bg {
    position: relative;
    background-image: url(../../images/bg-01.jpg);
    background-color: #746b66;
    background-size: cover;
    background-blend-mode: multiply;
  }

  &__title {
    text-transform: uppercase;
    text-align: center;
    color: $white-color;
  }

  &__profile {
    margin-top: 5rem;
    box-shadow: 2px 2px 3px #585858;
    background-color: $primary-color;
    border-radius: 8px;
    height: 25rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;

    @include respond(tab-land) {
      width: 100%;
    }

    @include respond(phone) {
      height: auto;
      margin-top: 8rem;
      padding-top: 10rem;
    }

    @include respond(sm-phone) {
      margin-top: 3rem;
      padding-top: 13rem;
    }

    &-image {
      width: 16rem;
      height: 13rem;
      position: absolute;
      left: 15%;
      transform: rotate(340deg);
      transition: all 0.8s ease-in-out;

      @include respond(land) {
        width: 13rem;
        height: 13rem;
        left: 16%;
        transform: rotate(0deg);
      }
      @include respond(tab-land) {
        margin-top: 5%;
        left: 12%;
        width: 11rem;
        height: 11rem;
      }

      @include respond(phone) {
        width: 10rem;
        height: 10rem;
        left: 50%;
        top: 17%;
        transform: translate(-50%, -50%);
      }

      @include respond(sm-phone) {
        width: 8rem;
        height: 8rem;
        top: 22%;
      }

      &:hover {
        transform: rotate(360deg);
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: drop-shadow(2px 2px 5px #585858);
        border-radius: 8px;
        margin-top: 20%;

        @include respond(land) {
          border-radius: 50%;
          margin-top: 40%;
        }
      }
    }

    &-text {
      width: 60%;
      margin-left: auto;
      margin-top: 5rem;
      margin-right: 0rem;
      padding: 1rem 2rem;
      text-align: justify;
      hyphens: auto;

      @include respond(tab-land) {
        text-align: center;
      }

      @include respond(phone) {
        width: 100%;
      }

      &--name {
        font-size: 1.2rem;
        position: absolute;
        bottom: 12%;
        left: 50%;
        transform: translate(-50% -50%);
        text-align: center;

        @include respond(tab-land) {
          left: 15%;
        }

        @include respond(phone) {
          bottom: 38%;
          left: 38%;
        }

        @include respond(sm-phone) {
          bottom: 42%;
          left: 35%;
        }

        @include respond(smallest) {
          bottom: 49%;
          font-size: 1rem;
          left: 30%;
        }

        span {
          font-size: 0.8rem;
          color: rgba($dark-color, 0.8);
        }
      }
      &--main {
        margin-bottom: 1rem;
        margin-top: 4rem;
        font-weight: bold;

        @include respond(phone) {
          display: none;
        }
      }

      &--sub {
        @include respond(phone) {
          margin-top: -6rem;
          padding-bottom: 1rem;
        }

        @include respond(sm-phone) {
          margin-top: -5rem;
          font-size: 0.9rem;
          text-align: left;
        }
      }
    }
  }
}

// President

.leaders {
  position: relative;

  &__president {
    margin-top: 5rem;
    box-shadow: 2px 2px 3px #585858;
    background-color: $primary-color;
    border-radius: 8px;
    height: 25rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;

    @include respond(tab-land) {
      width: 100%;
    }

    @include respond(phone) {
      height: auto;
      padding-top: 5rem;
    }

    @include respond(sm-phone) {
      margin-top: 3rem;
      padding-top: 8rem;
    }

    &-image {
      width: 16rem;
      height: 13rem;
      position: absolute;
      right: 20%;
      transform: rotate(-20deg);
      transition: all 0.8s ease-in-out;

      @include respond(land) {
        width: 13rem;
        height: 13rem;
        transform: rotate(0deg);
      }

      @include respond(tab-land) {
        margin-top: 5%;
        width: 11rem;
        height: 11rem;
        right: 13%;
      }

      @include respond(phone) {
        width: 10rem;
        height: 10rem;
        left: 50%;
        top: 3%;
        transform: translate(-50%, -50%);
      }

      @include respond(sm-phone) {
        width: 8rem;
        height: 8rem;
        top: 22%;
      }

      &:hover {
        transform: rotate(0deg);
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: drop-shadow(2px 2px 5px #585858);
        border-radius: 8px;
        margin-top: 38%;

        @include respond(land) {
          border-radius: 50%;
        }
      }
    }

    &-text {
      width: 60%;
      margin-right: auto;
      margin-top: 5rem;
      margin-right: 2rem;
      padding: 1rem 2rem;
      text-align: justify;
      hyphens: auto;

      @include respond(tab-land) {
        text-align: center;
      }

      @include respond(phone) {
        width: 100%;
      }
      &--name {
        font-size: 1.2rem;
        position: absolute;
        bottom: 12%;
        left: 45%;
        transform: translate(-50% -50%);
        text-align: center;

        @include respond(tab-land) {
          left: 60%;
          bottom: 15%;
        }

        @include respond(phone) {
          bottom: 45%;
          left: 35%;
        }

        @include respond(sm-phone) {
          left: 28%;
        }

        @include respond(smallest) {
          bottom: 53%;
          font-size: 1rem;
          left: 26%;
        }

        span {
          font-size: 0.8rem;
          color: rgba($dark-color, 0.8);
        }
      }
      &--main {
        margin-bottom: 1rem;
        margin-top: 4rem;
        font-weight: bold;

        @include respond(phone) {
          display: none;
        }
      }

      &--sub {
        @include respond(phone) {
          padding-bottom: 1rem;
        }

        @include respond(sm-phone) {
          padding-top: 2rem;
        }
      }
    }
  }
}
