.support {
  background-color: $white-color;
  &__heading {
    text-align: center;
  }
  &__search {
    width: 80%;
    margin: 1rem auto;
    &-input {
      width: 100%;
      padding: 1rem;
    }
  }
}

// FAQ
.faq {
  &__heading {
    text-align: center;
  }

  &__faq {
    width: 70%;
    margin: 0 auto;

    &-question {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 2rem;

      &--icon {
        padding: 0.6rem 0.8rem;
        display: flex;
        align-items: center;
        background-color: $gray-color;
        border-radius: 8px;
        transition: transform 2s ease-in-out;
        color: $white-color;
        text-decoration: none;

        &:hover {
          cursor: pointer;
        }

        &:hover > img {
          transform: translateY(0.2rem);
          cursor: pointer;
        }
      }
    }

    &-answer {
      margin-top: 1rem;
      // display: none;
      overflow: hidden;
      transition: all 0.5s ease-in-out;
      height: 0;
    }

    &-answer:target {
      height: 50px;
    }
  }
}
