.support {
  background-color: $white-color;
  &__heading {
    text-align: center;
  }
  &__search {
    width: 80%;
    margin: 1rem auto;
    &-input {
      width: 100%;
      padding: 1rem;
    }
  }
}

// FAQ
.faq {
  &__heading {
    text-align: center;
  }

  &__faq {
    width: 70%;
    margin: 0 auto;

    &-question {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 1rem;

      &--icon {
        padding: 0.6rem 0.8rem;
        display: flex;
        align-items: center;
        background-color: $gray-color;
        border-radius: 8px;
        transition: transform 2s ease-in-out;
        color: $white-color;
        position: relative;

        &:hover {
          cursor: pointer;
        }

        &:hover > i {
          transform: translateX(0.2rem);
          cursor: pointer;
        }
      }
    }

    &-answer {
      padding: 0 15px;
      margin-top: 5px;
      border-left: 1px solid $gray-color;
      margin-left: 15px;
      text-align: justify;
      font-size: 14px;
      overflow: hidden;
      max-height: 0px;
      transition: all 0.5s ease-in-out;
    }
  }
}

.active .faq__faq-question--icon {
  position: relative;
  padding: 1rem 1.1rem;

  .right {
    display: none;
  }
}

.active .faq__faq-question--icon::before {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  content: "\f078";
}
