/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 5s;
  animation-name: fade;
  animation-duration: 5s;
  transition-timing-function: ease-in-out;
}

@keyframes fade {
  0% {
    opacity: 0.4;
  }

  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}

@keyframes animate2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}

@keyframes slidInFromLeft {
  0% {
    transform: translateX(-50%); /* off the screen */
  }

  100% {
    transform: translateX(0); /* normal position */
  }
}
