*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%;
}

body {
  box-sizing: border-box;
  line-height: 1.5;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.container {
  position: relative;
}

.bg {
  background-image: url(../../images/img-05.jpg);
  background-color: $primary-color;
  background-color: #cbcbd5;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: screen;
}

section {
  padding: 3rem 5rem;

  @include respond(phone) {
    padding: 3rem 4rem;
  }

  @include respond(phone) {
    padding: 3rem 3rem;
  }

  @include respond(sm-phone) {
    padding: 3rem 2rem;
  }
}
