$color-secondary: #2e363e;
$white-color: #fff;
$dark-color: #222c37;
$dark-yellow: #ecbd45;
$primary-color: #f2f5f6;
$gray-color: #676565;
$dark-gray: #1b232c;
$black-color: #000000;
$light-green: #4fd4ac;
$dark-red: #a03a3a;
$red-color: #ff0000;
